<!--
        ______   __                  __  __  __    __ 
        /      \ |  \                |  \|  \|  \  |  \
       |  $$$$$$\| $$____    ______  | $$| $$| $$  | $$
       | $$___\$$| $$    \  /      \ | $$| $$ \$$\/  $$
        \$$    \ | $$$$$$$\|  $$$$$$\| $$| $$  >$$  $$ 
        _\$$$$$$\| $$  | $$| $$    $$| $$| $$ /  $$$$\ 
       |  \__| $$| $$  | $$| $$$$$$$$| $$| $$|  $$ \$$\
        \$$    $$| $$  | $$ \$$     \| $$| $$| $$  | $$
         \$$$$$$  \$$   \$$  \$$$$$$$ \$$ \$$ \$$   \$$
-->

<!-- div class="row" => :host -->
<div class="col-4"></div>
<div class="col-4 align-self-center">
    <img title="logo" src="assets/logo.png" class="img-fluid" />
</div>
<div class="col-4"></div>

