<!-- <p class="ascii-art">
        ______   __                  __  __  __    __ 
        /      \ |  \                |  \|  \|  \  |  \
       |  $$$$$$\| $$____    ______  | $$| $$| $$  | $$
       | $$___\$$| $$    \  /      \ | $$| $$ \$$\/  $$
        \$$    \ | $$$$$$$\|  $$$$$$\| $$| $$  >$$  $$ 
        _\$$$$$$\| $$  | $$| $$    $$| $$| $$ /  $$$$\ 
       |  \__| $$| $$  | $$| $$$$$$$$| $$| $$|  $$ \$$\
        \$$    $$| $$  | $$ \$$     \| $$| $$| $$  | $$
         \$$$$$$  \$$   \$$  \$$$$$$$ \$$ \$$ \$$   \$$
</p> -->

<!-- div class="row" => component.css (:host) -->
    <div class="col-4"></div>
    <div class="col-4">
        <img title="logo" src="assets/logo.png" class="img-fluid" />
    </div>
    <div class="col-4"></div>

