/* .ascii-art {
    font-family: monospace;
    white-space: pre;
} */


/* copied from bootstrap.css, class: .row */
:host {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-grow: 1;
    align-items: center; /* specific to this component */
}