<div class="col-4"></div>
<div class="col-4 align-self-center shx-comp-register">

<form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)"> 

    <div class="row">
        <label class="col-6">Email *</label>
        <input class="col-6" type="text" formControlName="email" /> 
    </div>

    <div class="row">
        <label class="col-6">Username *</label>
        <input class="col-6" type="text" formControlName="username" /> 
    </div>

    <div class="row">
        <label class="col-6">Password *</label>
        <input class="col-6" type="password" formControlName="password" /> 
    </div>

    <div class="row">
        <label class="col-6">Confirm password *</label>
        <input class="col-6" type="password" formControlName="matchingPassword" /> 
    </div>

    <button class="btn sign-up" type="submit" [disabled]="!registerForm.valid">Sign up</button>

    <div *ngIf="!registerForm.valid"> <!-- </div>class="invalid-feedback" -->
    <div *ngIf="registerForm.get('email').hasError('required')">Email required</div>
    <div *ngIf="registerForm.get('email').hasError('email')">Email format is not correct</div>
    <div *ngIf="registerForm.get('username').hasError('required')">Username required</div>
    <div *ngIf="registerForm.get('username').hasError('minlength')">Username must be at least 5 characters</div>
    <div *ngIf="registerForm.get('username').hasError('maxlength')">Username must not exceed 30 characters</div>
    <div *ngIf="registerForm.get('password').hasError('required')">Password required</div>
    <div *ngIf="registerForm.get('password').hasError('minlength')">Password must be at least 8 characters</div>
    <div *ngIf="registerForm.get('password').hasError('maxlength')">Password must not exceed 30 characters</div>
    <div *ngIf="registerForm.get('matchingPassword').hasError('required')">Confirmation password required</div>
    <div *ngIf="registerForm.get('matchingPassword').hasError('minlength')">Password must be at least 8 characters</div>
    <div *ngIf="registerForm.get('matchingPassword').hasError('maxlength')">Password must not exceed 30 characters</div>
    <div *ngIf="registerForm.errors?.matchingPassword && (registerForm.touched || registerForm.dirty)">Passwords are not matching</div>
    </div>
  
</form>

</div>
<div class="col-4"></div>
