<!-- NAVBAR TOP -->
<nav class="navbar navbar-expand-md fixed-top navbar-dark shx-navbar-top py-0">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/chat">Chat</a></li>
      <!-- <li class="nav-item"><a class="nav-link" (click)="logout()">Logout</a></li> -->
    </ul>
  </div>
  <div class="shx-navbar-top-right">
    <a *ngIf="userAuth" class="nav-link" routerLinkActive="active" [routerLink]="['/profile', userId]">
      <img src="../assets/icons/user.jpg" alt="profile picture" class="rounded-circle" width="36px" height="36px" />
    </a>  
  </div>
</nav>

<!-- CONTENT -->
<div class="container-fluid d-flex flex-column shx-content">
  <!-- Apply d-none class to remove gap (angular bug) -->
  <router-outlet class="d-none"></router-outlet>
</div>
