/* :host {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-grow: 1;
    align-items: flex-end;
    position: relative;
}

.msg-box {
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.msglist {
    position:relative;
    flex-grow: 1;
    overflow:auto;
    margin-right: -15px;
    margin-left: -15px;
}

.form-msg {
    position:relative;
    background-color: #0b0e10;
} */


:host {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-grow: 1;
    align-items: flex-end;
    position: relative;
}

.msg-box {
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.msglist {
    position:relative;
    flex-grow: 1;
    overflow:auto;
    margin-right: -15px;
    margin-left: -15px;
}

.form-msg {
    position:relative;
    background-color: #0b0e10;
}
