<div class="col-sm-9 d-sm-flex flex-column shx-messages-frame collapse multi-collapse show" id="messages-frame">
    <app-message    [currentRoom]="currentRoom" 
                    [nextRoom] = "nextRoom"
                    [userList]="userList"
                    [userLogged]="userLogged"
                    [arrCommandMessage]="arrCommandMessage">
    </app-message>
    <app-command    [userLogged]="userLogged"
                    (commandEmitter)="setCommand($event)">
    </app-command>
</div>

<!-- SLIDE MENU BUTTON -->
<div class="d-sm-none shx-slide-menu-button">
    <button type="button" data-toggle="collapse" data-target=".multi-collapse" 
            aria-expanded="false" aria-controls="messages-frame side-menu-frame">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24">
                <path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
    </button>
</div>

<!-- SIDE MENU -->
<div class="col-sm-3 d-sm-flex flex-column collapse multi-collapse shx-side-menu-frame" id="side-menu-frame">

    <!-- SWITCH MENU BUTTON -->
    <div class="row shx-switch-menu-frame">
        <div class="col d-flex">
            <div class="shx-switch-menu">
                <nav class="nav nav-pills">
                    <a class="nav-item nav-link" [ngClass]="{'active': modeSideMenu=='roomlist'}" (click)="modeSideMenu='roomlist'" ><mat-icon class="mat-icon" svgIcon="menu-room" aria-hidden="false" aria-label="menu-room" color="y-icon"></mat-icon></a>
                    <a class="nav-item nav-link" [ngClass]="{'active': modeSideMenu=='userlist'}" (click)="modeSideMenu='userlist'" ><mat-icon class="mat-icon" svgIcon="menu-user" aria-hidden="false" aria-label="menu-user" color="y-icon"></mat-icon></a>
                    <a class="nav-item nav-link" [ngClass]="{'active': modeSideMenu=='roominfo'}" (click)="modeSideMenu='roominfo'" ><mat-icon class="mat-icon" svgIcon="menu-room-info" aria-hidden="false" aria-label="menu-room-info" color="y-icon"></mat-icon></a>
                    <!-- <a class="nav-item nav-link" href="#notifications" data-toggle="tab" ><mat-icon class="mat-icon" svgIcon="menu-notifications" aria-hidden="false" aria-label="menu-notifications" color="y-icon"></mat-icon></a> -->
                </nav>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <app-room       [currentRoom]="currentRoom"
                        [userCount]="userCount"
                        [modeSideMenu]="modeSideMenu"
                        [arrCommandRoom]="arrCommandRoom"
                        (changeRoomEmitter)="changeRoom($event)"
                        (currentRoomEmitter)="setCurrentRoom($event)">
        </app-room>
        <app-userlist   [currentRoom]="currentRoom" 
                        [nextRoom] = "nextRoom"
                        [modeSideMenu]="modeSideMenu"
                        [arrCommandUserlist]="arrCommandUserlist"
                        (userListEmitter)="setUserList($event)">
        </app-userlist>
    </div>
</div>
